@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body{
    background-color: #0c1444;
    font-family: 'Lato';
}
.menu {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 520px;
}
.menu a{
  display: flex;
  flex-direction: row;
  color: aliceblue;
  text-decoration: none;
  font-size: 15px;
}
header a:hover{
    color: 	#eda14c;
}
.menu > li {
    margin: 0 1rem;
    overflow: hidden;
    cursor: pointer;
}
.barra-lateral{
    border-right:  0.1px solid #fff ;
  }
.image-2{
    position: absolute; 
	right: 1px;
	top: 100px;
}