@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
body{
    background-color: #0c1444;
    font-family: 'Lato';
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.min-width{
  max-width: 1300px;
  padding: 0 100px;
  margin-top: 140px;
}
/* NAVEGADOR */
.menu {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 520px;
}
.menu a{
  display: flex;
  flex-direction: row;
  color: aliceblue;
  font-size: 15px;
  transition: all 0.3 ease;
}
nav a:hover{
    color: 	#eda14c;
}
.menu > li {
    margin: 0 1rem;
    overflow: hidden;
    cursor: pointer;
}
.barra-lateral{
    border-right:  0.1px solid #fff ;
  }
  /* HOME INÍCIO */
.image-1{
  display: flex;
  flex-direction: column;
  margin-left: -45px;
  margin-top: 70px;
}
.phone{
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 45px;
  color: #fff;
  font-size: 30px;
}
.image-2{
  position: absolute; 
	right: 1px;
	top: 100px;
}
